mixin price-service__item(title, pic, descr, dealer, our, offer)
	+e.link(href="#priceServiceModal" data-lity data-car='#{title}' data-item='#{descr}' data-price="#{our} руб.")
		+e('div').item
					+e('img').item-pic(src='pict/price/#{pic}', alt="images/price/skoda-rapid.png")
					+e('h4').item-title #{title}
					+e('p').item-description #{descr}
					+e('p').item-cost.price__item-cost--dealer Цена дилера
						+e('span').item-cost.price__item-cost--dealer-rub #{dealer}
						span руб.
					+e('p').item-cost.price__item-cost--offer #{offer}%
					+e('p').item-cost.price__item-cost--our Наша цена
					+e('p').item-cost.price__item-cost--our-rub #{our}
							span руб.

					+e('button').item-send Записаться на сервис
			+price-service-modal()

mixin price-service()
	+b('section').price.col-xs-12
		block
		.container
			+e('h5').title У нас самые низкие цены в городе.
			+e('p').description Качество нашего сервиса <span>не уступает</span> дилеру.

			+price-service__item('VW Passat B7','volkswagen-b7.png','Замена масла','2400', '800', '67')
			+price-service__item('Audi A4','audi-a4.png','Прохождение ТО','3800', '1500', '60')
			+price-service__item('VW Polo Sedan','vw-polo-sedan.png','Замена передних колодок','2400', '800', '67')

mixin price-service-modal()
	// Modal
	#priceServiceModal.lity-hide
		.modal-dialog
			// Modal content
			.modal-content
				.modal-body
					+b.offer
						+e('form')#gp-form
							img.promo__logo(src="pict/header/logo.png", alt="")
							+e('input')(type="text" placeholder="Имя *" name="userName" required onkeyup="if(/[^a-zA-Zа-яА-ЯёЁ .-]/i.test(this.value)){this.value='';}").form-item.col-xs-12
							+e('input')(type="text" placeholder="+7 (xxx) xxx - xx - xx *" name="userCallNumber" required).form-item.col-xs-12.js-phone
							+e('textarea')(name="comments", cols="30", rows="5" placeholder="Интересующие детали").form-item.col-xs-12
							//- +e('input')(type="hidden" name="theme" value="Клиент хочет: Узнать цену нужной запчасти")
							//- +e('input')(type="hidden" name="from").form-item.col-xs-12.offer__form-item__from
							+e('button').form-send(type="submit" data-text="Записаться на сервис").form-send.col-xs-12 Записаться на сервис
							+e('div').form-error#g-offers
