.price
	display block
	text-align center

	&__link
		text-decoration none !important

	&__title
		text-align center
		font-weight 600
		margin-bottom 15px
		font-size 1rem

	&__description
		line-height 1.25rem
		font-size .99rem
		margin-bottom 30px
		// text-align left

		span
			color #FA0A27
			letter-spacing 1px
			font-weight 400

	&__item
		padding 15px 5px 10px
		border 2px solid transparent
		margin-top 30px !important
		border-top-color transparent
		border-bottom-color transparent
		display block
		margin 0 auto
		transition 1s all
		-webkit-box-shadow: 0px -5px 50px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px -5px 50px 0px rgba(0,0,0,0.3);
		box-shadow: 0px -5px 50px 0px rgba(0,0,0,0.3)
		position relative
		cursor pointer
		color #333
		a
			color inherit
			text-decoration none

		&:hover
			border 2px solid #FA0A27
			text-decoration none
			transition 1s all

			> p
				visibility visible


		&-pic
			display block
			width 80%
			margin 25px auto

			img
				width 100%
				max-width 100%
				pointer-events none

		&-title
			font-weight 700
			letter-spacing .5px
			margin-bottom 5px

		&-description
			font-size .85rem
			margin-bottom 20px
			color #666

		&-cost
			.marked
				font-weight 700

			&--dealer
				font-size .9rem
				margin-bottom 15px

				&-rub
					font-weight 700

			&--our
				font-size 1rem
				margin-top 10px
				margin-bottom 5px

				&-rub
					font-weight 700
					font-size 1.4rem
					color #FA0A27

			&--offer
				color #FA0A27
				font-weight 600
				border 1px solid #FA0A27
				display inline-block
				padding 5px 10px
				font-size .8rem
				border-radius 25px
				position relative
				margin 10px

				&:before
					content '-'
		&-send
				color #fff !important
				font-weight 700
				background-color #FA0A27
				font-size 1rem
				padding 10px 15px
				// visibility hidden
				left 0
				right 0
				margin 30px auto
				margin-bottom 0
				// position absolute
				line-height 1.2rem
				// text-transform uppercase
				transition .1s ease-out
				width 80%
				border none
				outline none  !important

.modal-body
	overflow hidden

#priceServiceModal .offer {
	    background-image: none;
	    margin-top: 0;
	    padding: none;
	}
