mixin advantages-item(pic,text)
	+e.item.col-xs-6
				+e.pic
					img(src="/pict/advantages/#{pic}.png", alt="")
				+e.text #{text}
				br

mixin advantages()
	+b('section').advantages
		block
		.container
			+e('h3').title Перестаньте переплачивать дилерам!
			+e('p').description Теперь не только они доставляют оригинальные запчасти
			+advantages-item('1','Все запчасти оригинальные и произведены в Германии. В наличии все документы и сертификаты.')
			+advantages-item('2', 'У нас есть ВСЕ запчасти. В наличии 80% товарных позиций.')
			+advantages-item('3', 'Гарантия на все запчасти от завода производителя.')
			+advantages-item('4', 'К каждому заказу выдаем товарный чек.')

			+advantages-item('5', 'Оплата курьеру наличными или по банковской карте.')
			+advantages-item('6', 'Оплата по факту. Возможна беспроцентная рассрочка.')
			+advantages-item('7', 'Оплата любым способом. Можно безналичным расчетом.')
			+advantages-item('8', 'Все запчасти и расходники приходят в оригинальных коробках от производителя.')
			
