.advantages
	display block
	text-align center
	background-image url(/pict/advantages/advantages.png)
	background-position right bottom
	background-size cover
	background-repeat no-repeat
	color #fff
	
	&__description
		margin-bottom 40px
	&__item
		margin-bottom 20px
		min-height 300px
		font-size .5rem
	&__text
		margin 15px
		line-height 1.4rem