include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../header/header
include ../menu/menu
//- include ../promo/promo
//- include ../price/price
include ../offer/offer
include ../feedback/feedback
include ../advantages/advantages
include ../sertificate/sertificate
include ../map/map
include ../footer/footer



doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
		+scripts(['app.min.js'])
