mixin map()
	+b.map&attributes(attributes)
		block
		script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=YJhJUjtb2GFYM5MN3ml8L45dBAaUoqbM&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true')


mixin ask(title, description, btn, some)
	+b('section').ask
		.container
			+e('h3').title #{title}
			+e.description #{description}
				+e('span')(style="color: #f44; font-weight: 600;") #{some}
			+e('form')#ask-form
				+e('input')(type="text" placeholder="Имя *" name="userName" required onkeyup="if(/[^a-zA-Zа-яА-ЯёЁ .-]/i.test(this.value)){this.value='';}").form-item.form-control.offer__form-item.col-xs-12
				+e('input')(type="text" placeholder="+7 (xxx) xxx - xx - xx *" name="userCallNumber" required).form-item.form-control.col-xs-12.js-phone.offer__form-item
				+e('textarea')(name="comments", cols="30", rows="5" placeholder="Чем мы можем Вам помочь?").form-item.offer__form-item.form-control.col-xs-12.offer__form-item
				+e('input')(type="hidden" name="theme" value="Клиент хочет: Задать вопрос")
				+e('input')(type="hidden" name="from").form-item.col-xs-12.offer__form-item__from
				+e('button').form-send(type="submit" data-text='#{btn}').form-send.col-xs-12 #{btn}
				+e('div').form-error#ask-error

			+e.label * Поля обязательные к заполнению
			+e.label ** Заполнение заявки Вас ни к чему не обязывает.
			+e.label Рассылок и спама не будет.
