.map
	display block

.ask
	&__title
		font-weight 600
		line-height 2rem
		font-size 1.05rem
	&__description
		margin-bottom 30px
		font-size .9rem
	&__label
			font-size .8rem
			line-height 1.2rem
	&__form
		text-align center
		&-send
			margin-top 10px
			padding 5px 10px
			margin-bottom 10px
			background-color #FA0A27
			border none
			color #fff
			font-weight 600
			font-size 1.1rem

		label.error
			font-weight 600
			display block
