extends /blocks/layout-default/layout-default
include /blocks/promo/promo
include /blocks/price/price
include /blocks/head/head

block link
	- var mobile   = '';
	- var desktop   = 'http://vag.center';

block head
	- var pageTitle = 'VAG.center';


block content
	+header()
	+social()
	//- +menu()
	+promo()
	+price()
	+offer()
	+feedback()
	//- +advantages()
	+sertificate()
	+ask('У ВАС ОСТАЛИСЬ ВОПРОСЫ?', 'Мы с радостью ответим на них!', 'Оставить вопрос', '')
	+map()
	+footer()
