extends /blocks/layout-default/layout-default
include /blocks/promo-service/promo-service
include /blocks/price-service/price-service
include /blocks/types/types
include /blocks/header/header-service

block link
	- var mobile    = '';
	- var desktop   = 'http://service.vag.center';

block head
	- var pageTitle = 'VAG.service';

block content
	+header-service()
	+social()
	//- +menu()
	+promo-service()
	+types()
	+price-service()
	+ask('Для тех, кто долистал до конца', 'Мы дарим дополнительную', 'Получить скидку', 'скидку 5%')
	+map()
	+footer()
