.sertificate
	display block
	text-align center
	background-image url(/pict/certificates/certificates.png)
	background-repeat no-repeat
	background-size cover
	padding-bottom 30px
	overflow hidden !important
	
	&__title
		line-height 1.5rem
		margin-bottom 30px
		
	.js-sertificate 
		position relative
		margin 10px
		display block
		.slick
			&-slide 
				margin-right 10px
				margin-left 10px
			&-prev,
			&-next
				position absolute
				z-index 100
				top 0
				padding 22px
				border none
				background-color transparent
				font-size 3rem
				outline none !important
				height 100%
				// color transparent
			&-prev
				left -25px
			&-next
				right -25px

