mixin sertificate()
	+b('section').sertificate&attributes(attributes)
		block
		.container
			+e('h5').title Сертификаты качества на все наши автозапчасти соответствуют требованиям Российского законодательства
			+e.item.js-sertificate
					img(src="/pict/certificates/cert1.jpg", alt="" data-lity)
					img(src="/pict/certificates/cert2.jpg", alt="" data-lity)
					img(src="/pict/certificates/cert3.jpg", alt="" data-lity)
					img(src="/pict/certificates/cert4.jpg", alt="" data-lity)
					img(src="/pict/certificates/cert5.jpg", alt="" data-lity)
					img(src="/pict/certificates/cert6.jpg", alt="" data-lity)
					img(src="/pict/certificates/cert7.jpg", alt="" data-lity)
					img(src="/pict/certificates/cert8.jpg", alt="" data-lity)
