mixin scripts(scripts)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.3/mobile-detect.min.js")
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.0/lity.min.js")
	script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/55764/jquery.maskedinput.min.js")
	script(type='text/javascript', src='https://cdn.callbackkiller.com/widget/cbk.js?wcb_code=de14faf9e53a600ee82fbb6234b448dc', charset='UTF-8', async='')


	// Yandex.Metrika counter
	script(type='text/javascript').
		(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40715289 = new Ya.Metrika({ id:40715289, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
	noscript
		div
			img(src='https://mc.yandex.ru/watch/40715289', style='position:absolute; left:-9999px;', alt='')
	// /Yandex.Metrika counter

	each src in scripts
		- var isExternalScript = /^(?:https?\:)?\/\//i;
		- src = isExternalScript.test(src) ? src : '/assets/scripts/' + src;
		script(src=src)
