.types
  padding 10px

  &__item
    margin-bottom 0px
    min-height 200px
    box-sizing border-box
    text-align center

    &-title
      margin-top 10px
      font-size .8rem
      line-height 1.2rem
      width 90%


  &__title
    font-weight 600
    font-size 1.5rem
    margin-bottom 30px
    text-align center
  a
    color #000
    text-decoration none
    outline none
