mixin types-item(title,pic)
  +e.item.col-xs-6
    block
    +e('img')(src="pict/types/type#{pic}.png")
    +e('p').item-title #{title}

mixin types()
  +b('section').types.col-xs-12
    block
    .container
      a(href="#priceServiceModal" data-lity)
        br
        br
        +e('p').title Виды работ
        br
        br
        +types-item('Ремонт двигателя','4')
        +types-item('Ремонт подвески','2')
        +types-item('Ремонт глушителя','3')
        +types-item('Ремонт рулевого управления','1')
        +types-item('Ремонт тормозной системы','5')
        +types-item('Ремонт систем охлаждения','6')
        +types-item('Ремонт системы кондиционирования','7')
        +types-item('Ремонт топливной системы','8')
        +types-item('Ремонт электрооборудования','9')
        +types-item('Компьютерная диагностика','10')
        +types-item('Регламентное техническое обслуживание','11')
        +types-item('Развал схождение на компьютерном 3D стенде','12')
