mixin feedback-item(name, who, text, photo, video)
	+e.item.clearfix
				.col-xs-12.clearfix
					+e('div').pic
						+e('a').link(href=video data-lity)
							img(src=photo, alt="" width="150")
							+e('div').hover
								i.fa.fa-play
						
					+e('p').text #{text}
					+e('h5').author #{name}, #{who}

mixin feedback()
	+b('section').feedback&attributes(attributes)
		block
		.container
			+e('h6').title Мы обслуживаем владельцев всех моделей Volkswagen, Skoda, Seat и Audi, даже R8
			+feedback-item('Василий', 'владелец авто', 'Заказывал запчасти в vag.center. Всё привезли в день заказа, точно к необходимому времени.', 'pict/feedback/artem.jpg', 'https://www.youtube.com/watch?v=q5lDiJyHshY')

			+feedback-item('Игорь', 'владелец авто', 'Всё нравится, заказываю давно на свой Ауди А8', 'pict/feedback/igor.jpg','https://www.youtube.com/watch?v=WYLHw91NOpA')
			+e('div').hidden
				+feedback-item('Артур', 'мастер из автоцентра', 'Давно сотрудничем с ребятами. Поставляют нам автозапчасти audi, volkswagen, skoda. Очень пунктуальны в этом...', 'pict/feedback/artur.jpg','https://www.youtube.com/watch?v=wHUGm9ZDAsc')

				+feedback-item('Сергей', 'владелец RS5', 'Думал, что на RS5 с запчастями будут проблемы. Оказалось, ничего страшного. Ребята быстро нашли все детали, все круто сделали. Заказывал колодки, диски, комплекты ТО.', 'pict/feedback/sergey.png','https://www.youtube.com/watch?v=wHUGm9ZDAsc')

			+e('button').toggle Показать все