.feedback
	display block
	text-align center
	
	&__title
		text-align center
		line-height 1.4rem

	&__item
		padding-top 10px
		padding-bottom 10px
		border 1px solid #eee
		border-top none
		border-left none
		border-right none
		margin-bottom 15px
		text-align center
	&__hidden
		display none
	&__toggle
		padding 8px 10px
		border none
		border 2px solid
		border-color #FA0A27
		color #FA0A27
		background-color transparent
		background-color #fff
		font-weight 600
	&__open
			display block
	&__author
		font-size .9rem
		font-weight 700
	
	&__text
		margin-top 10px
		font-size .8rem
		line-height 1.4rem
		font-weight 200
		text-align left

	&__link
		display block
		position relative
		overflow hidden
		transition 1s ease-out
		cursor pointer
		
	&__hover
			content '\f04b'
			font-family FontAwesome
			font-size 2.5rem
			color #eee
			position absolute
			background-color rgba(0,0,0,.6)
			z-index 10
			top 0
			left 0
			right 0
			bottom 0
			padding 80px
			transition 1s all
			// display none
			cursor pointer
			opacity .8
			transition .5s ease-in
			&:hover
				transition .5s ease-out

	&__pic
		position relative
		img
			width 100%
	
	&__video
		font-size .8rem

.feedback__link:hover > .feedback__hover
	display block

