.header
	display block
	background-color #f8f8f8
	padding-top 10px
	padding-bottom 10px
	text-align center
	position fixed
	width 100%
	top 0
	left 0
	z-index 100
	
	&__toggle
		text-align center
	&__link
		text-decoration none !important
		color inherit
		text-align left
	&__social
		padding 10px
		
		&-item
			display inline-block
			padding 10px
	
	&__work,
	&__title,
	&__time
		font-weight 200
		font-size 1.2rem
		line-height 1.25rem
		letter-spacing .5px

	&__title
		font-size 12px
		
	
	&__item
		font-size 11px
		padding-top 5px
		// display inline-block

	&__time
		font-size 12px
		line-height .5rem
	
	&__logo
		display block

	&__work
		// display inline-block
		
	&__phone
		font-weight 500
		display inline-block
		text-align center
		padding-top 0px
		padding-bottom 15px
		font-size 16px

.social
	display block
	background-color #f8f8f8
	text-align center