#priceModal .offer
	background-image none !important
	margin-top 0 !important
	
.offer
	display block
	clear both
	background-image url(/pict/offer/offer.png)
	background-size 50%
	background-repeat no-repeat
	background-size cover
	background-position center bottom -260px
	margin-top 100px
	
	&__description,
	&__title
		text-align center
	
	&__description
		font-size .8rem
		width 95%
		margin 20px auto
		line-height 1.2rem
	&__list
		// clear both
		// display table
		// background-color #eee
		margin-top 140px
		
		
		&-pic
			width 80%
			display block
			margin 0 auto
		
		img
			margin-top -100px
			display inline-block
			width 80%

	&__form
		width 95%
		display block
		margin 0 auto
		padding 10px
		box-sizing border-box
		&-item
				width 100%
				border 2px solid rgba(0,0,0,.2)
				border-radius 5px
				margin-top 10px
				padding 4px
				&:focus
					border-color #0B54A9
		&-send
				background-color #FA0A27 !important
				color #fff
				border none
				padding 8px 10px
				font-weight 600
				border-radius 5px
				font-size .8rem
				margin-bottom 10px
				margin-top 12px
				
		&-error
			display block
			color #f44
			letter-spacing 1px
			font-size .9rem
			font-weight 500
			text-align center
			margin-top 5px
			width 100%
			margin-bottom 5px
			// padding 10px
				
		