mixin offer()
	+b('section').offer
		block
		.container
			.row
				+e('h5').title Получите предложение по выбору Автозапчастей
				+e('p').description Мы перезвоним Вам и уточним наличие всех запчастей и расходников. А затем поможем подобрать самый выгодный вариант для Вас.
				+e.list
						+e.list-pic
							
								img(src="pict/offer/audi.png", alt="")
						+e.form
							+e('form')#offer-form
								+e('input')(type="text" placeholder="Телефон" pattern=".{10}" name="userCallNumber" required minlength='10').form-item.js-phone
								+e('input')(type="text" placeholder="Имя *" name="userName" onkeyup="if(/[^a-zA-Zа-яА-ЯёЁ .-]/i.test(this.value)){this.value='';}" ).form-item
								+e('input')(type="hidden" name="theme" value="Клиент хочет: получить предложение по выбору Автозапчастей")
								+e('button').form-send(type="submit" data-text="Получить предложение").form-send.col-xs-12 Получить предложение
								+e('div').form-error


