head
	meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')
	meta(charset="utf-8")
	block link
	- mobile= mobile
	- desktop= desktop
	script.
		var isMobile = /iPhone|iPad|iPod|Android|BlackBerry|HTC|Nexus|Dell|Motorola|Samsung|NokiaLumia|Nokia|IEMobile|Windows Phone/i.test(navigator.userAgent);
		if (isMobile) { window.location = '#{mobile}'; } else{ window.location = '#{desktop}'; }

	block head
	title= pageTitle || ''


	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.0/lity.min.css')
	link(rel='stylesheet', href='https://cdn.callbackkiller.com/widget/cbk.css')
	link(href='/assets/styles/app.min.css' rel='stylesheet')
	link(rel="icon", href="pict/header/logo-s.png")
