.footer
	display block
	text-align center
	background-color #333333
	color #fff
	
	&__policy
		
		padding 10px
		
		a
			color inherit
			font-size .7rem
	&__text
		font-size .8rem
		margin-top 10px
		line-height 1.1rem
		font-weight 100

#policyModal .modal-title
	text-align center
	font-size .9rem