mixin footer()
	+b('footer').footer&attributes(attributes)
		block
		.container
			.row
				+e.policy
					a(href="#policyModal" data-lity) Политика конфиденциальности

mixin policy-modal()
	// Modal
	#policyModal.lity-hide
		.modal-dialog
			// Modal content
			.modal-content
				.modal-body
					p.modal-title Политика конфиденциальности
					p.footer__text Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте m.vag.center, (далее – Сайт), путем заполнения полей онлайн-заявки Пользователь: подтверждает, что указанные им персональные данные принадлежат лично ему; признает и подтверждает, что он внимательно и в полном объеме ознакомился с настоящим Соглашением и содержащимися в нем условиями обработки его персональных данных, указываемых им в полях он-лайн заявки (регистрации) на сайте; признает и подтверждает, что все положения настоящего Соглашения и условия обработки его персональных данных ему понятны; дает согласие на обработку Сайтом предоставляемых персональных данных в целях регистрации Пользователя на Сайте; выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений. Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе. Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным. Настоящее согласие Пользователя применяется в отношении обработки следующих персональных данных: фамилия, имя, отчество; номера телефонов. Также автоматическому сбору подлежит некоторая статистическая информация: IP-адрес; Дата, время и количество посещений; Информация, предоставляемая Вашим браузером (тип устройства, тип и версия браузера, операционная система и т.п.). Сведения, предоставленные пользователем, используются для связи с ним, в том числе для направления уведомлений об изменении статуса заявки. Пользователь, предоставляет сервису m.vag.center право осуществлять следующие действия (операции) с персональными данными: сбор и накопление; уточнение (обновление, изменение); передача по требованию суда, в т.ч. третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа. Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Вами путем подачи заявления администрации Сайта с указанием данных, определенных ст. 14 Закона «О персональных данных». Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail) admin@m.vag.center. Личные данные пользователей могут быть переданы лицам, не связанным с настоящим сайтом, если это необходимо: для соблюдения закона, нормативно-правового акта, исполнения решения суда; для выявления или воспрепятствования мошенничеству; для устранения технических неисправностей в работе сайта; для предоставления информации на основании запроса уполномоченных государственных органов. Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные всеми возможными способами. Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения. К настоящему Соглашению и отношениям между пользователем и Сайтом, возникающим в связи с применением Соглашения подлежит применению материальное и процессуальное право Российской Федерации.


+policy-modal()