mixin promo()
	+b('section').promo.col-xs-12
		block
		.container
			.col-xs-12
				.row.text-center
					+e('img').logo(src="pict/header/logo-b.png", alt="")
					+e('h5').title Оригинальные автозапчасти 
						+e('span').mark <br> на 50% дешевле, <br>
						+e('span') чем у официального дилера, с доставкой в день заказа
					
					+e.item.row
						+e('p').thx#fm-form__thx Спасибо, ваша заявка принята! <br> Мы перезвоним вам за 10 минут
						+e('form').form(name="maintenance" method="post" id="fm-form")
								+e('div').form-title.col-xs-12
									+e('h5').form-header НУЖНО ПРОЙТИ ТО?
									+e('p').form-description Просто заполните форму, и мы подберем все необходимые запчасти

								.col-md-4.col-lg-4.promo__form-item
									.row
										.col-xs-12
											select(name="complate")#js-model
												option(value="" selected) Марка авто
												option(value='Audi') Audi
												option(value='Porsche') Porsche 
												option(value='Volkswagen') Volkswagen
												option(value='SEAT') SEAT
												option(value='Bentley') Bentley
												option(value='Skoda') Skoda
												option(value='other_cars') Другие авто
								//- .col-md-4.col-lg-4.promo__form-item
								//- 	.row
								//- 		.col-xs-12
								//- 			select(name="")
								//- 				option(value="") Модель авто
								.col-md-4.col-xs-12.col-lg-4.promo__form-item
									input(type="text" placeholder="Имя *" name="userName" onkeyup="if(/[^a-zA-Zа-яА-ЯёЁ .-]/i.test(this.value)){this.value='';}" id="fm-form-userName")
								//- .col-md-6.col-xs-12.col-lg-4.promo__form-item
								//- 	input(type="text" placeholder="Фамилия" )
								.col-md-4.col-xs-12.col-lg-4.promo__form-item
									input(type="text" placeholder="+7 (xxx) xxx - xx - xx *" name="userCallNumber" class="js-phone" id="fm-form-userCallNumber" pattern=".{10,}" minlength="10")
								//- .col-md-4.col-xs-12.col-lg-4.promo__form-item
								//- 	input(type="text" placeholder="VIN номер")
								
								//- .col-xs-12.promo__form-item
								//- 	textarea(name="comments", cols="30", rows="5" placeholder="Интересующие детали" id="fm-form-comments")
								//- +e('input')(type="hidden" name="theme" value="Клиент хочет: Пройти ТО")
								p.service-text.col-xs-12
										input#service.checkbox(type='checkbox', name='service', value='Запись на сервис')
										label(for='service') Записаться на сервис

								.col-xs-12.promo__form-item
									button.promo__form-send.form-send.col-xs-12(type="submit" data-text="Узнать цену нужной запчасти") Узнать цену нужной запчасти
								+e('div').form-error#c-error.col-xs-12 
					
					+e.item.__list
						+e.brand.col-xs-6
							img(src="pict/promo/audi.png", alt="")
						+e.brand.col-xs-6
							img(src="pict/promo/vw.png", alt="")
						+e.brand.col-xs-6
							img(src="pict/promo/seat.png", alt="")
						+e.brand.col-xs-6
							img(src="pict/promo/skoda.png", alt="")
					
					//- +e.item.__advantages
						.col-xs-12
							+e.details.promo__details--e Элементы двигателя
							+e.details.promo__details--p Элементы подвески
						.col-xs-12
							+e.details.promo__details--d Кузовные детали
							+e.details.promo__details--a Автоэлектроника
			