.promo
	background-image url(/pict/promo/promo.png)
	background-size cover
	background-position center top
	padding-bottom 20px

	.select2-container .select2-selection--single
		height 32px !important

	&__title,
	&__logo
		text-align center

	&__advantages
		border-top 1px solid lightgrey
		overflow hidden
		// margin 0 auto
		padding-top 30px
		padding-bottom 30px
		display block
		text-align center
		box-sizing border-box


	&__logo
		// padding-top 30px
		padding-bottom 5px
		width 35%
		display block
		margin 0 auto

	&__title
		font-size 1rem
		line-height 1.2rem

		font-weight 300
		margin 0 auto
		// width 70%
		margin-top 5px
		margin-bottom 20px

	&__mark
			color #FA0A27

	&__list
		text-align center
		overflow hidden
		// margin-bottom 10px

	&__details
		position relative
		float left
		margin 0 auto
		width 50% !important
		font-weight 200
		padding 30px
		padding-bottom 0
		padding-top 45px
		box-sizing border-box

		&:before
			position: absolute;
			content: '';
			background-image url(/pict/sprite.png)
			background-repeat no-repeat
			top 0
			left 0
			right 0
			margin auto
			width 45px
			height 45px

		&--e:before
			background-position: -378px 0px;
		&--p:before
			background-position: -200px 0px;
		&--d:before
			background-position: -440px 0px;
		&--a:before
			background-position: -260px 0px;

	&__brand
		height 65px
		margin-bottom 50px
		display inline-block

		img
			max-width 100%
			max-height 100%

	&__thx
		text-align center
		display none
		padding 50px
		font-size 1.25rem
		line-height 1.5rem
		color #FA0A27
		border-top 2px solid #FA0A27
		border-bottom 2px solid #FA0A27
		margin 50px

	&__form
		background-color rgba(11,84,169,.9)
		color #fff
		border 2px solid rgba(0,0,0,.2)
		display block
		overflow hidden
		padding 10px
		padding-top 15px
		padding-bottom 20px
		border-radius 10px
		margin-bottom 40px
		transition .25s ease-in

		input[type="submit"]
			// margin-top 5px

		&:hover
			background-color rgba(11,84,169,.95)
			transition .25s ease-out

		&-title
			margin-top 5px
			padding-bottom 10px
			font-size .9rem
			letter-spacing .5px
			text-align left
		&-description
			font-size .8rem
			line-height 1.1rem

		&-header
				letter-spacing 2px
				font-size .9rem

		&-item
			margin-bottom 12px

			textarea
				margin-top 5px
				margin-bottom 5px
				height 85px
			textarea,
			select,
			input[type=text]
				width 100%
				border 2px solid transparent
				border-radius 5px
				padding 5px
				padding-left 10px
				resize none
				&:focus
					// border-color #0B54A9
					border 2px solid
					border-color rgba(0,0,0,.8)
			select
				text-align left !important

			button[type=submit]
				background-color #FA0A27
				color #fff
				border none
				padding 10px 15px
				font-weight 400
				font-size .9rem
				border-radius 5px

.select2-container--default .select2-results__option--highlighted[aria-selected]
				background-color #FA0A27 !important
				border none !important

input.error
	border-color #FA0A27 !important
label.error
	text-align center
	display block
	margin 10px
	font-size 1.2rem
.modal-open
	overflow visible !important
.callbackkiller
	position absolute !important
	right 5px !important
	bottom 5px !important
	float right !important
.cbk-phone.cbk-phone-sm
	width 75px !important
	height 75px !important

.checkbox
	margin 0 3px 0 0
	width 10px
	height 10px
	// margin-left 5px

	& + label
		cursor pointer
		display inline-block
		vertical-align middle

	&:not(checked)
		position absolute
		opacity 0
		& + label
			position relative
			padding 0 0 0 60px
			&:before
				content ''
				position absolute
				top 0px
				left 0
				width 40px
				height 18px
				border-radius 13px
				background #CDD1DA
				box-shadow inset 0 2px 3px rgba(0,0,0,.2)
				// margin-left 10px
			&:after
				content ''
				position absolute
				top 0px
				left 0px
				width 18px
				height 18px
				border-radius 10px
				background #f7f7f7
				// box-shadow 0 2px 5px rgba(0,0,0,.3)
				transition all .2s
	&:checked
		& + label
			&:before
				background #9FD468
			&:after
				left 22px
	&:focus
		& + label
			&:before
				box-shadow 0 0 0 2px rgba(255,255,255,.5)

.service-text
	clear both !important
	padding-top 10px
	label
		font-size 1rem
		display inline-block
		vertical-align middle

.form-send:disabled
	background-color #333 !important
